body {
    font-family: Arial;
    padding: 25px;
    width: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

