<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cookies R Great</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}">

</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<h2>Ingredients</h2>
<li>1 cup white sugar (201 grams / 7.1 ounces)</li>
<li>⅓ cup brown sugar (73 grams / 2.5 ounces)</li>
<li>½ teaspoon salt</li>
<li>1 ½ eggs (decreasing egg yolk amounts creates optimized lightness and fluffy texture to the dough)</li>
<li>1 cup of butter (between refrigerator and room temperature) (227g/8oz)</li>
<li>2 ¼ cups of flour (adapt this for elevation and humidity as needed, make sure the cups are level) (288 grams / 10 ounces)</li>
<li>1 teaspoon of baking soda</li>
<li>1 teaspoon vanilla extract</li>
<li>2 tablespoons milk</li>
<li>2 cups of chocolate chips (if small, less if large)</li>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>